body {
  font-family: Arial, sans-serif;
  background: #f0f2f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  transition: background 0.3s ease;
}

.calculadora {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.2);
  width: 300px;
  transition: box-shadow 0.3s ease, background 0.3s ease;
}

.pantalla {
  background: #222;
  color: #fff;
  text-align: right;
  padding: 20px;
  font-size: 2em;
  border-radius: 5px;
  margin-bottom: 10px;
  min-height: 50px;
  word-wrap: break-word;
}

.botones {
  display: grid;
  grid-template-columns: repeat(4 , 1fr);
  gap: 15px;
}

.btn {
  padding: 20px;
  font-size: 1.2em;
  border: none;
  border-radius: 5px;
  background: #e0e0e0;
  cursor: pointer;
  transition: background-color 0.2s;
}

.btn:hover {
  background: #050505;
  color: white;
}

#modo-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px 15px;
  font-size: 1em;
  background-color: #222;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: background-color 0.3s;
}

#modo-icono {
  display: inline-block;
  transition: transform 0.5s ease;
}

.girar {
  transform: rotate(360deg);
}

body.oscuro {
  background-color: #121212;
}

body.oscuro .calculadora {
  background-color: #1e1e1e;
  color: white;
  box-shadow: 0px 10px 30px rgba(0, 255, 150, 0.1);
}

body.oscuro .pantalla {
  background-color: #333;
  color: #00ff99;
}

body.oscuro .btn {
  background-color: #444;
  color: white;
}

body.oscuro .btn:hover {
  background-color: #666;
  box-shadow: 0 0 10px rgba(0, 255, 150, 0.3);
}





@media (prefers-color-scheme: dark) {
  body {
    background-color: #121212;
  }
  
  .calculadora {
    background-color: #1e1e1e;
    color: white;
    box-shadow: 0px 10px 30px rgba(0, 255, 150, 0.1);
  }
  
  .pantalla {
    background-color: #333;
    color: #00ff99;
  }
  
  .btn {
    background-color: #444;
    color: white;
  }
  
  .btn:hover {
    background-color: #000000;
    box-shadow: 0 0 10px rgba(0, 255, 150, 0.5);
    color: white;
  }
  
#modo-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px 15px;
  font-size: 1em;
  background-color: #222;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: background-color 0.3s;
}

#modo-icono {
  display: inline-block;
  transition: transform 0.5s ease;
}

.girar {
  transform: rotate(360deg);
}

body.oscuro {
  background-color: #121212;
}

body.oscuro .calculadora {
  background-color: #1e1e1e;
  color: white;
  box-shadow: 0px 10px 30px rgba(0, 255, 150, 0.1);
}

body.oscuro .pantalla {
  background-color: #725a5a;
  color: #00ff99;
}

body.oscuro .btn {
  background-color: #444;
  color: white;
}

body.oscuro .btn:hover {
  background-color: #3a3939;
  box-shadow: 0 0 10px rgba(0, 255, 150, 0.3);
}

}
